@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    box-sizing: border-box;
    padding-left: 0;
    margin: 0;
    background-color: white;
}

button,
button:active,
button:focus,
input,
input:active,
input:focus {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.bg_gradient {
    background: radial-gradient(
        circle at 35% 35%,
        rgba(0, 51, 107, 1) 14%,
        rgba(4, 12, 24, 1) 100%
    );
}

.text_gradient {
    background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_gradient {
    background: radial-gradient(
        circle at 35% 35%,
        rgba(4, 44, 84, 1) 7%,
        rgba(26, 118, 218, 1) 100%
    );
}

